# Python + RL + PyTorch + VS Code

# Virtual environments
.venv/
env/
venv/

# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Torch, RL, model outputs
checkpoints/
runs/
models/
outputs/
logs/
*.pt
*.pth
*.h5
*.onnx
*.ckpt
*.zip
*.tar
*.gz

# Datasets
data/
datasets/
*.npy
*.npz

# Notebooks auto-checkpoints
.ipynb_checkpoints/

# System/IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db
